body{
  font-family: arial;
}

h1{
  margin-left:150px;
}


.main-br{


display: grid;
  grid-template-columns: 200px 150px 150px 100px 100px;
  column-gap: 13px;
  row-gap: 13px;
}

.result-grid{
  display: grid;
  grid-template-columns: 200px 150px 150px 100px;
  column-gap: 13px;
  row-gap: 13px;
}

.main-br{
  margin-bottom: 10px;;
}


.todo1{
  font-size:15px;
  height: 30px;
  padding: 6px;
}

.todo-btn{
  background-color: rgb(77, 197, 77);
  border: none;
  border-radius: 5px;
  color:aliceblue;
  cursor: pointer;
}

.delete-todo-button{
  background-color: rgb(246, 37, 37);;
  height:40px;
  border-radius:5px ;
  border:none;
  color:aliceblue;
  cursor: pointer;
}

.result-2{
  margin-top: 18px;
  height:50px;
  color:rgb(11, 14, 11);
  font-weight: bold;
}

